{% extends 'admin/base.html' %}
{% load static i18n %}
{% block head %}
    {% include 'import/jquery_import.html' %}
    {% include 'import/jquery_validation.html' %}
    {% include 'import/filepond_import.html' %}
    {% include 'import/toastr_import.html' %}
    {% include 'import/spin_import.html' %}
    {% include 'import/sweetalert2_import.html' %}
{% endblock %}
{% block content %}
<!-- Page Container -->
<div class="kt-container-fixed space-y-8">

    <!-- Page Header -->
    <div class="flex flex-wrap items-center justify-between gap-5 pb-6">
        <div class="flex flex-col gap-1">
            <h1 class="text-xl font-semibold text-foreground">Product Create</h1>
            <p class="text-sm text-muted-foreground"></p>
        </div>
    </div>

    <!-- Product Detail -->
    <div class="grid gap-6">
        <div class="overflow-x-auto rounded-2xl shadow-sm">
            <form class="kt-form" id="frm_create_product" 
                data-url-add="{% url 'ProductCreateView' %}"
                data-url-list="{% url 'ProductListView' %}"
                data-url-detail="{% url 'ProductDetailView' slug='__slug__' %}"
                data-url="{% url 'ProductCreateAPI' %}" enctype="multipart/form-data">
                <div class="w-full flex gap-5">
                    <div class="flex-1 kt-form-item">
                        <label class="kt-form-label required" for="inp_name">{% trans 'Name' %}:</label>
                        <div class="kt-form-control">
                            <input id="inp_name" type="text" class="kt-input w-full" name="name" required />
                        </div>
                        <div class="kt-form-description"></div>
                    </div>
                    <div class="flex-1 kt-form-item">
                        <label class="kt-form-label" for="inp_description">{% trans 'Description' %}:</label>
                        <div class="kt-form-control">
                            <textarea id="inp_description" class="kt-input w-full resize-y" name="description"
                                rows="3"></textarea>
                        </div>
                        <div class="kt-form-description"></div>
                    </div>
                </div>
                <div class="w-full flex gap-5">
                    <div class="flex-1 kt-form-item">
                        <label class="kt-form-label required" for="inp_price">{% trans 'Price' %}:</label>
                        <div class="kt-form-control">
                            <input id="inp_price" type="text" name="price" class="kt-input w-full" required />
                        </div>
                    </div>
                    <div class="flex-1 kt-form-item">
                        <label class="kt-form-label required" for="inp_is_active">{% trans 'Status' %}:</label>
                        <div class="kt-form-control">
                            <input class="kt-switch kt-switch-lg" type="checkbox" id="inp_is_active" name="is_active"
                                checked="" />
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="flex-1 kt-form-item">
                        <label class="kt-form-label" for="inp_image">{% trans 'Image' %}:</label>
                        <div class="kt-form-control">
                            <div id="inp_image"></div>
                        </div>
                        <div class="kt-form-description"></div>
                    </div>
                </div>
                <div class="w-full">
                    {% include 'button/form-actions-no-delete.html' %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block foot %}
<script src="{% static 'formvalidation/formvalidation_helper.js' %}"></script>
<script src="{% static 'filepond/filepond_helper.js' %}"></script>
<script src="{% static 'sweetalert2/sweetalert2_helper.js' %}"></script>
<script src="{% static 'toast/toast_helper.js' %}"></script>
<script src="{% static 'spinner/spin.js' %}" ></script>
<script src="{% static 'api/api.js' %}"></script>
<script src="{% static 'products/create.js' %}"></script>
{% endblock %}