{% extends 'admin/base.html' %}
{% load static i18n %}
{% block head %}
{% include 'import/jquery_import.html' %}
{% include 'import/jquery_validation.html' %}
{% include 'import/uppy_import.html' %}
{% include 'import/toast_import.html' %}
{% include 'import/spin_import.html' %}
{% include 'import/sweetalert2_import.html' %}
{% include 'import/select2_import.html' %}
{% include 'import/axios_import.html' %}
{% endblock %}
{% block content %}
<div class="kt-container-fixed space-y-6">
    <form class="kt-form" id="frm_detail_product" data-url="{% url 'ProductUpdateAPI' pk='__pk__' %}"
        data-url-upload="{% url 'UploadImageAPI' %}" data-url-list="{% url 'ProductListView' %}"
        data-url-delete="{% url 'ProductDestroyAPI' %}" data-url-add="{% url 'ProductCreateView' %}"
        data-url-detail="{% url 'ProductDetailView' slug='__slug__' %}">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            {% if obj_product %}
            <div class="lg:col-span-2">
                <div class="kt-card p-5 rounded-xl border bg-card">
                    <h2 class="text-lg font-semibold mb-3">Thông tin sản phẩm</h2>
                    <input class="hidden" id="id_product" value="{{ obj_product.id|default:'' }}">
                    <!-- Tên & Slug -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="kt-form-item">
                            <label class="kt-form-label">Tên sản phẩm:</label>
                            <input name="name" type="text" class="kt-input w-full"
                                value="{{ obj_product.name|default:'' }}">
                        </div>

                        <div class="kt-form-item">
                            <label class="kt-form-label">Slug:</label>
                            <input readonly name="slug" type="text" class="kt-input w-full"
                                value="{{ obj_product.slug|default:'' }}">
                        </div>
                    </div>
                    <div class="kt-accordion-content hidden" aria-labelledby="accordion_toggle_0"
                        id="accordion_content_0">
                        <div class="kt-accordion-wrapper">
                            <!-- Mô tả -->
                            <div class="kt-form-item mt-6">
                                <label class="kt-form-label">Mô tả:</label>
                                <input name="description" type="text" class="kt-input w-full"
                                    value="{{ obj_product.description|default:'' }}">
                            </div>

                            <!-- Giá & Trạng thái -->
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
                                <div class="kt-form-item">
                                    <label class="kt-form-label">Giá:</label>
                                    <div class="kt-form-control">
                                        <input id="inp_price" type="text" name="price" class="kt-input w-full"
                                            value="{{ obj_product.price|default:'0' }}" required>
                                    </div>
                                </div>
                                <div class="kt-form-item">
                                    <label class="kt-form-label">Trạng thái:</label>
                                    <input name="is_active" type="checkbox" class="kt-switch toggle-active" {% if obj_product.is_active %} checked {% endif %} />
                                </div>

                            </div>
                            <!--Hình ảnh-->
                            <div class="kt-form-item mt-6">
                                <label class="kt-form-label">Hình ảnh:</label>
                                <input type="text" id="check_image" class="hidden"
                                    value="{{ obj_product.img|default:'' }}">
                                <div class="kt-form-control">
                                    <div id="image_product" name="image_product"></div>
                                </div>
                                <div class="kt-form-description"></div>
                            </div>
                        </div>
                    </div>
                    <div data-kt-accordion="true" class="kt-accordion mt-6">
                        <div data-kt-accordion-item="true" class="kt-accordion-item">
                            <button id="accordion_toggle_0" data-kt-accordion-toggle="true"
                                aria-controls="accordion_content_0"
                                class="kt-accordion-toggle flex items-center gap-2 w-full px-6 py-3 rounded-lg bg-accent/50">

                                <!-- Text khi đóng -->
                                <span
                                    class="kt-accordion-title kt-accordion-indicator-on flex-1 text-sm font-medium ml-5">
                                    Xem thêm...
                                </span>

                                <!-- Text khi mở -->
                                <span
                                    class="kt-accordion-title kt-accordion-indicator-off flex-1 text-sm font-medium ml-5">
                                    Ẩn bớt
                                </span>

                                <!-- Icon + / - -->
                                <span aria-hidden="true" class="kt-accordion-indicator flex-shrink-0 mr-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-plus kt-accordion-indicator-on">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5v14"></path>
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-minus kt-accordion-indicator-off">
                                        <path d="M5 12h14"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div>
                <div class="kt-card p-5 rounded-xl border bg-card space-y-6">
                    <div>
                        <h2 class="text-lg font-semibold mb-3">Category</h2>
                        <div class="kt-form-item">
                            <label class="kt-form-label">Danh mục:</label>
                            <select id="inp_select_category" name="category" class="kt-select w-full"
                                data-url="{% url 'CategoryListAPI' %}">
                                {% if obj_product.category %}
                                <option value="{{ obj_product.category.id }}" selected>
                                    {{ obj_product.category.name }}
                                </option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="kt-card p-5 rounded-xl border bg-card mt-6">
            <div class="flex items-center justify-between mb-3">
                <h2 class="text-lg font-semibold">Variant sản phẩm</h2>
                <button type="button" class="kt-btn kt-btn-primary" data-kt-modal-toggle="#modal-variant">
                    Thêm mới
                </button>
            </div>
            {% if obj_product.variants %}
            {% for obj_variant in obj_product.variants.all %}
            <div class="kt-card p-5 rounded-xl border bg-card mt-6">
                <div class="flex items-center justify-between mb-3">
                    <h2 class="text-lg font-semibold mb-3">
                        Variant: {{ obj_variant.name|default_if_none:"" }}
                    </h2>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="kt-form-item">
                        <label class="kt-form-label">Tên:</label>
                        <input type="text" class="kt-input w-full" value="{{ obj_variant.name|default:'' }}">
                    </div>
                    <div class="kt-form-item">
                        <label class="kt-form-label">SKU:</label>
                        <input type="text" class="kt-input w-full" value="{{ obj_variant.sku|default:'' }}">
                    </div>
                </div>
                <div class="kt-accordion-content hidden" aria-labelledby="{{ obj_variant.id }}"
                    id="{{ obj_variant.id }}">
                    <div class="kt-accordion-wrapper">
                        <div class="grid grid-cols-3 gap-4 mt-6">
                            <div class="kt-form-item">
                                <label class="kt-form-label">Giá:</label>
                                <input type="text" class="kt-input w-full"
                                    value="{{ obj_variant.price|default:'0.00' }}">
                            </div>
                            <div class="kt-form-item">
                                <label class="kt-form-label">Stock:</label>
                                <input type="text" class="kt-input w-full" value="{{ obj_variant.stock|default:'0' }}">
                            </div>
                            <div class="kt-form-item">
                                <label class="kt-form-label">Trạng thái:</label>
                                <input name="is_active" type="checkbox" class="kt-switch toggle-active" {% if obj_variant.is_active %} checked {% endif %} />
                            </div>
                        </div>
                        <div class="kt-form-item mt-6">
                            <label class="kt-form-label">Hình ảnh:</label>
                            <input type="text" id="check_image" class="hidden" value="{{ obj_variant.img|default:'' }}">
                            <div class="kt-form-control">
                                <div id="image_product" name="image_product"></div>
                            </div>
                            <div class="kt-form-description"></div>
                        </div>
                    </div>
                </div>

                <div data-kt-accordion="true" class="kt-accordion mt-6">
                    <div data-kt-accordion-item="true" class="kt-accordion-item">
                        <button id="{{ obj_variant.id }}" data-kt-accordion-toggle="true"
                            aria-controls="{{ obj_variant.id }}"
                            class="kt-accordion-toggle flex items-center gap-2 w-full px-6 py-3 rounded-lg bg-accent/50">

                            <!-- Text khi đóng -->
                            <span class="kt-accordion-title kt-accordion-indicator-on flex-1 text-sm font-medium ml-5">
                                Xem thêm...
                            </span>

                            <!-- Text khi mở -->
                            <span class="kt-accordion-title kt-accordion-indicator-off flex-1 text-sm font-medium ml-5">
                                Ẩn bớt
                            </span>

                            <!-- Icon + / - -->
                            <span aria-hidden="true" class="kt-accordion-indicator flex-shrink-0 mr-5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-plus kt-accordion-indicator-on">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5v14"></path>
                                </svg>

                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-minus kt-accordion-indicator-off">
                                    <path d="M5 12h14"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="w-full">
                    {% include 'button/form-actions-save-delete.html' %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="w-full">
            {% include 'button/form-actions-with-delete.html' %}
        </div>
    </form>
    <form action="">
        <div class="kt-modal kt-modal-center" data-kt-modal="true" id="modal-variant">
            <div class="kt-modal-content w-full max-w-[70%] mx-auto mt-10 border-0">
                <div class="kt-modal-header border-0 bg-blue-500 rounded-t-lg">
                    <h3 class="kt-modal-title text-white">Modal Title</h3>
                    <button type="button" class="kt-modal-close text-white" aria-label="Close modal"
                        data-kt-modal-dismiss="#modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-x" aria-hidden="true">
                            <path d="M18 6 6 18"></path>
                            <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="kt-modal-body max-h-[70vh] overflow-auto p-4">
                    <div class=""></div>
                </div>
                <div class="kt-modal-footer gap-2.5 justify-end border-0">
                    <div class="flex gap-4">
                        <button class="kt-btn kt-btn-secondary" data-kt-modal-dismiss="#modal-variant">
                            Cancel
                        </button>
                        <button class="kt-btn">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
{% block foot %}
<script src="{% static 'products/detail.js' %}"></script>
{% endblock %}