{% extends 'admin/base.html' %}
{% load static i18n %}
{% block head %}
{% include 'import/jquery_import.html' %}
{% include 'import/datatable_import.html' %}
{% include 'import/jquery_validation.html' %}
{% include 'import/uppy_import.html' %}
{% include 'import/toast_import.html' %}
{% include 'import/spin_import.html' %}
{% include 'import/sweetalert2_import.html' %}
{% include 'import/select2_import.html' %}
{% include 'import/axios_import.html' %}
{% endblock %}
{% block content %}
<div class="kt-container-fixed space-y-6">
    <form class="kt-form" id="frm_detail_product" data-url="{% url 'ProductUpdateAPI' pk='__pk__' %}"
        data-url-upload="{% url 'UploadImageAPI' %}" data-url-list="{% url 'ProductListView' %}"
        data-url-delete="{% url 'ProductDestroyAPI' %}" data-url-add="{% url 'ProductCreateView' %}"
        data-url-detail="{% url 'ProductDetailView' slug='__slug__' %}">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            {% if obj_product %}
            <div class="lg:col-span-2">
                <div class="kt-card p-5 rounded-xl border bg-card">
                    <h2 class="text-lg font-semibold mb-3">Thông tin sản phẩm</h2>
                    <input class="hidden" id="id_product" value="{{ obj_product.id|default:'' }}">
                    <!-- Tên & Slug -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="kt-form-item">
                            <label class="kt-form-label">Tên sản phẩm:</label>
                            <input name="name" type="text" class="kt-input w-full"
                                value="{{ obj_product.name|default:'' }}">
                        </div>

                        <div class="kt-form-item">
                            <label class="kt-form-label">Slug:</label>
                            <input readonly name="slug" type="text" class="kt-input w-full"
                                value="{{ obj_product.slug|default:'' }}">
                        </div>
                    </div>
                    <div class="kt-accordion-content hidden" aria-labelledby="accordion_toggle_0"
                        id="accordion_content_0">
                        <div class="kt-accordion-wrapper">
                            <!-- Mô tả -->
                            <div class="kt-form-item mt-6">
                                <label class="kt-form-label">Mô tả:</label>
                                <input name="description" type="text" class="kt-input w-full"
                                    value="{{ obj_product.description|default:'' }}">
                            </div>

                            <!-- Giá & Trạng thái -->
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
                                <div class="kt-form-item">
                                    <label class="kt-form-label">Giá:</label>
                                    <div class="kt-form-control">
                                        <input id="inp_price" type="text" name="price" class="kt-input w-full"
                                            value="{{ obj_product.price|default:'0' }}" required>
                                    </div>
                                </div>
                                <div class="kt-form-item">
                                    <label class="kt-form-label">Trạng thái:</label>
                                    <input name="is_active" type="checkbox" class="kt-switch toggle-active" {% if obj_product.is_active %} checked {% endif %} />
                                </div>

                            </div>
                            <!--Hình ảnh-->
                            <div class="kt-form-item mt-6">
                                <label class="kt-form-label">Hình ảnh:</label>
                                <input type="text" id="check_image" class="hidden"
                                    value="{{ obj_product.img|default:'' }}">
                                <div class="kt-form-control">
                                    <div id="image_product" name="image_product"></div>
                                </div>
                                <div class="kt-form-description"></div>
                            </div>
                        </div>
                    </div>
                    <div data-kt-accordion="true" class="kt-accordion mt-6">
                        <div data-kt-accordion-item="true" class="kt-accordion-item">
                            <button id="accordion_toggle_0" data-kt-accordion-toggle="true"
                                aria-controls="accordion_content_0"
                                class="kt-accordion-toggle flex items-center gap-2 w-full px-6 py-3 rounded-lg bg-accent/50">

                                <!-- Text khi đóng -->
                                <span
                                    class="kt-accordion-title kt-accordion-indicator-on flex-1 text-sm font-medium ml-5">
                                    Xem thêm...
                                </span>

                                <!-- Text khi mở -->
                                <span
                                    class="kt-accordion-title kt-accordion-indicator-off flex-1 text-sm font-medium ml-5">
                                    Ẩn bớt
                                </span>

                                <!-- Icon + / - -->
                                <span aria-hidden="true" class="kt-accordion-indicator flex-shrink-0 mr-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-plus kt-accordion-indicator-on">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5v14"></path>
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-minus kt-accordion-indicator-off">
                                        <path d="M5 12h14"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div>
                <div class="kt-card p-5 rounded-xl border bg-card space-y-6">
                    <div>
                        <h2 class="text-lg font-semibold mb-3">Category</h2>
                        <div class="kt-form-item">
                            <label class="kt-form-label">Select category:</label>
                            <select id="inp_select_category" name="category" class="kt-select w-full"
                                data-url="{% url 'CategoryListAPI' %}">
                                {% if obj_product.category %}
                                <option value="{{ obj_product.category.id }}" selected>
                                    {{ obj_product.category.name }}
                                </option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="w-full">
            {% include 'button/form-actions-with-delete.html' %}
        </div>
    </form>
</div>
    {% include 'products/extends/product_variants.html' with obj_product=obj_product %}
<div>
    <form id="frm_modal_variant" data-url="{% url 'ProductVariantCreateAPI' %}"
        data-url-upload="{% url 'UploadImageAPI' %}">
        <div class="kt-modal kt-modal-center" data-kt-modal="true" id="modal_product_variant">
            <div class="kt-modal-content max-w-[70%] border-0">
                <div class="kt-modal-header border-0 bg-blue-500 rounded-t-lg">
                    <h3 class="kt-modal-title text-white">Product Variant</h3>
                    <button type="button" class="kt-modal-close text-white" aria-label="Close modal"
                        data-kt-modal-dismiss="#modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-x" aria-hidden="true">
                            <path d="M18 6 6 18"></path>
                            <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="kt-modal-body max-h-[50vh]">
                    <input type="hidden" name="product" value="{{ obj_product.id }}">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="kt-form-item">
                            <label class="kt-form-label required" for="inp_name">{% trans 'Name' %}:</label>
                            <div class="kt-form-control">
                                <input id="inp_name" type="text" class="kt-input w-full" name="name" required />
                            </div>
                            <div class="kt-form-description"></div>
                        </div>
                        <div class="kt-form-item">
                            <label class="kt-form-label required" for="inp_sku">{% trans 'SKU' %}:</label>
                            <div class="kt-form-control">
                                <input id="inp_sku" class="kt-input w-full resize-y" name="sku" required />
                            </div>
                            <div class="kt-form-description"></div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-4">
                        <div class="kt-form-item">
                            <label class="kt-form-label" for="inp_price">{% trans 'Price' %}:</label>
                            <div class="kt-form-control">
                                <input id="inp_price" type="text" name="price" class="kt-input w-full" required>
                            </div>
                        </div>
                        <div class="kt-form-item">
                            <label class="kt-form-label" for="inp_stock">{% trans 'Stock' %}:</label>
                            <div class="kt-form-control">
                                <input id="inp_stock" type="number" min="0" value="0" name="stock_qty"
                                    class="kt-input w-full" required>
                            </div>
                        </div>
                        <div class="kt-form-item">
                            <label class="kt-form-label" for="inp_is_active">{% trans 'Status' %}:</label>
                            <div class="kt-form-control">
                                <input class="kt-switch kt-switch-lg" type="checkbox" id="inp_is_active"
                                    name="is_active" checked="" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-form-item mt-6">
                        <label class="kt-form-label">Hình ảnh:</label>
                        <div class="kt-form-control">
                            <div id="image_product_variant"></div>
                        </div>
                        <div class="kt-form-description"></div>
                    </div>
                </div>
                <div class="kt-modal-footer gap-2.5 justify-end border-0">
                    <div class="flex gap-4">
                        <button class="kt-btn kt-btn-secondary" data-kt-modal-dismiss="#modal-variant" type="button">
                            Cancel
                        </button>
                        <button class="kt-btn" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
{% block foot %}
<script src="{% static 'products/detail.js' %}"></script>
{% endblock %}