<div class="form-actions flex justify-between items-center gap-2 mt-4">
    <div>
        <button type="button" class="kt-btn kt-btn-destructive" data-action="delete">Xóa</button>
    </div>
    <div class="flex gap-2">
        <button type="submit" class="kt-btn kt-btn-primary" data-action="save-close">Lưu lại và thêm mới</button>
        <button type="submit" class="kt-btn kt-btn-secondary" data-action="save-new">Lưu lại và chỉnh sửa</button>
        <button type="submit" class="kt-btn kt-btn-accent" data-action="save-edit">Lưu lại</button>
    </div>
</div>
