services:
  mysql:
    image: mysql:8.0
    container_name: mysql_ecom
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: django_ecommerce
      MYSQL_USER: adminer
      MYSQL_PASSWORD: adminer
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - mysql

volumes:
  mysql_data:
