{% load static %}
<!-- Scripts -->
<script src="{% static 'js/core.bundle.js' %}"></script>
<script src="{% static 'vendors/ktui/ktui.min.js' %}"></script>
<script src="{% static 'vendors/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'js/widgets/general.js' %}"></script>
<script src="{% static 'js/jquery_plugins.js' %}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.7/purify.min.js" integrity="sha512-78KH17QLT5e55GJqP76vutp1D2iAoy06WcYBXB6iBCsmO6wWzx0Qdg8EDpm8mKXv68BcvHOyeeP4wxAL0twJGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- End of Scripts -->