{% load static %}
<!-- Scripts -->
<script src="{% static 'js/core.bundle.js' %}"></script>
<script src="{% static 'vendors/ktui/ktui.min.js' %}"></script>
<script src="{% static 'vendors/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'js/widgets/general.js' %}"></script>
<!--https://datatables.net/-->
<script src="{% static 'datatables/datatables.min.js' %}" ></script>
<script src="{% static 'datatables/datatable_init.js' %}"></script>
<!--https://sweetalert2.github.io/#download-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--https://just-validate.dev/-->
<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
<!--Toast-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<!-- End of Scripts -->