<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="en">
{% load static %}

<head>
    {% include 'admin/partials/head.html' %}
    {% block head %}{% endblock %}
</head>

<body
    class="antialiased flex h-full text-base text-foreground bg-background django_ecom kt-sidebar-fixed kt-header-fixed">
    {% include 'admin/partials/theme-mode.html' %}

    <div class="flex grow">

        {% include 'admin/partials/sidebar.html' %}

        <div class="kt-wrapper flex grow flex-col">

            {% include 'admin/partials/header.html' %}

            <main class="grow pt-5" id="content" role="content">

                {% block content %}{% endblock %}
                
            </main>

        </div>

    </div>

    {% include 'admin/partials/script.html' %}
    {% block foot %} {% endblock %}
</body>

</html>