<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="en">

<head>
    {% load static i18n %}
    <link rel="stylesheet" href="{% static 'metronic/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'metronic/css/my-style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
    {% include 'admin/partials/sidebar.html' %}
    {% include 'admin/partials/header.html' %}
    {% block content %}{% endblock %}
    {% include 'admin/partials/footer.html' %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'metronic/js/core.bundle.js' %}"></script>
    <script src="{% static 'metronic/vendors/ktui/ktui.min.js' %}"></script>
    {% block foot %} {% endblock %}
</body>

</html>