<div class="kt-card p-5 rounded-xl border bg-card">
    <div class="flex items-center justify-between mb-3">
        <h2 class="text-lg font-semibold">List Attribute Value</h2>
        <button type="button" class="kt-btn kt-btn-primary" data-kt-modal-toggle="#modal_attribute_value">
            Chỉnh sửa
        </button>
    </div>

    {% if obj_attribute_values %}
    <div class="flex flex-wrap gap-2">
        {% for v in obj_attribute_values %}
        <span class="
            px-3 py-1 text-sm rounded-full
            bg-gray-100 text-gray-700
            border border-gray-300
        ">
            {{ v.name }}
        </span>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-sm text-muted-foreground italic">
        Chưa có attribute value nào!
    </p>
    {% endif %}
</div>