{% load static i18n %}
{% if obj_product %}
<div class="kt-card">
    <div class="kt-card-header d-flex justify-content-between align-items-center">
        <h3 class="kt-card-title mb-0">
            {% trans "Product Variants" %}
        </h3>
        <button type="button" class="kt-btn kt-btn-primary" data-kt-modal-toggle="#modal_product_variant">
            {% trans "Add Product Variant" %}
        </button>
    </div>
    <div class="kt-card-table" data-kt-datatable="true">
        <div class="kt-table-wrapper">
            <table class="kt-table hover cursor-pointer" id="datatables-product_variants" data-kt-datatable-table="true"
                data-url="{% url 'ProductVariantListAPI' %}?product={{ obj_product.pk }}"
                data-url-change-status="{% url 'ProductVariantChangeStatusAPI' pk='__pk__' %}"
                data-url-delete="{% url 'ProductVariantDestroyAPI' %}"
                data-url-detail="{% url 'ProductVariantDetailView' pk='__pk__' %}"
            >
                <thead>
                    <tr>
                        <th scope="col" class="w-30" data-kt-datatable-column="label">
                            {% trans 'Name' %}
                        </th>
                        <th scope="col" class="w-30" data-kt-datatable-column="label">
                            {% trans 'SKU' %}
                        </th>
                        <th scope="col" class="w-30" data-kt-datatable-column="label">
                            {% trans 'Stock' %}
                        </th>
                        <th scope="col" class="w-30" data-kt-datatable-column="label">
                            {% trans 'Price' %}
                        </th>
                        <th scope="col" class="w-30" data-kt-datatable-column="label">
                            {% trans 'Status' %}
                        </th>
                    </tr>
                    <tr class="dt-filter-row">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            {% include 'extends/filter/status.html' %}
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'products/extends/product_variant.js' %}"></script>
{% endif %}