<form id="confirm_form" data-url="{% url 'RegisterConfirmAPI' %}">
  <div class="kt-modal" data-kt-modal="true" id="modal-confirm">
    <div class="kt-modal-content max-w-[400px] top-[10%]">
      <div class="kt-modal-header border-0">
        <h3 class="kt-modal-title" id="confirm_modal_title"></h3>
        <button
          type="button"
          class="kt-modal-close"
          aria-label="Close modal"
          data-kt-modal-dismiss="#modal-confirm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-x"
            aria-hidden="true"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="kt-modal-body border-0 max-h-[200px] pe-2">
        <div class="flex flex-col gap-1">
          <label for="" class="kt-form-label font-normal text-mono required" id="confirm_modal_message"></label>
          <input type="hidden" id="user_email_confirm" name="email"/>
          <input type="text" class="kt-input" name="confirmation_code" placeholder="Enter confirmation code" id="confirmation_code" required>
        </div>
      </div>
      <div class="kt-modal-footer border-0 gap-2.5 justify-end">
        <button class="kt-btn kt-btn-secondary" data-kt-modal-dismiss="#modal-confirm">
          Cancel</button
        ><button type="submit" class="kt-btn" id="confirm_submit_btn">Submit</button>
      </div>
    </div>
  </div>
</div>
</form>
