{% extends 'admin/base.html' %}
{% load static i18n %}
{% block head %}
{% include 'import/jquery_import.html' %}
{% include 'import/jquery_validation.html' %}
{% include 'import/uppy_import.html' %}
{% include 'import/toast_import.html' %}
{% include 'import/spin_import.html' %}
{% include 'import/sweetalert2_import.html' %}
{% include 'import/select2_import.html' %}
{% include 'import/axios_import.html' %}
{% endblock %}
{% block content %}
<div class="kt-container-fixed space-y-6">
    <form class="kt-form" id="frm_detail_attribute" data-url="{% url 'AttributeUpdateAPI' pk='__pk__' %}"
        data-url-list="{% url 'AttributeListView' %}" data-url-detail="{% url 'AttributeDetailView' pk='__pk__' %}"
        data-url-add="{% url 'AttributeCreateView' %}" data-url-delete="{% url 'AttributeDestroyAPI' %}">
        <div class="grid grid-cols-1 gap-6">
            {% if obj_attribute %}
            <div>
                <div class="kt-card p-5 rounded-xl border bg-card">
                    <h2 class="text-lg font-semibold mb-3">Thông tin Attribute</h2>
                    <input class="hidden" id="id_attribute" value="{{ obj_attribute.id|default:'' }}">
                    <!-- Tên & Slug -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="kt-form-item">
                            <label class="kt-form-label">Tên Attribute:</label>
                            <input name="name" type="text" class="kt-input w-full"
                                value="{{ obj_attribute.name|default:'' }}">
                        </div>

                        <div class="kt-form-item">
                            <label class="kt-form-label">Trạng thái:</label>
                            <input name="is_active" type="checkbox" class="kt-switch toggle-active" {% if obj_attribute.is_active %} checked {% endif %} />
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {% include 'attributes/extends/attribute_values.html' %}
            </div>
            {% endif %}
        </div>
        <div class="w-full">
            {% include 'button/form-actions-with-delete.html' %}
        </div>
    </form>
</div>
<form id="frm_modal_attribute_value" data-url="{% url 'M2MAttributeUpdateAPI' %}">
    <div class="kt-modal kt-modal-center" data-kt-modal="true" id="modal_attribute_value">
        <div class="kt-modal-content max-w-[70%] border-0">
            <div class="kt-modal-header border-0 bg-blue-500 rounded-t-lg">
                <h3 class="kt-modal-title text-white">Attribute Value</h3>
                <button type="button" class="kt-modal-close text-white" aria-label="Close modal"
                    data-kt-modal-dismiss="#modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-x" aria-hidden="true">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="kt-modal-body max-h-[50vh]">
                <input type="hidden" name="attribute" value="{{ obj_attribute.id }}">
                <div class="grid grid-cols-1 gap-4">
                    <div class="lg:col-span-1">
                        <div class="kt-card p-5 rounded-xl border bg-card space-y-6">
                            <div>
                                <h2 class="text-lg font-semibold mb-3 ">Attribute Value</h2>
                                <div class="kt-form-item">
                                    <label class="kt-form-label">Select attribute value:</label>
                                    <select id="inp_select_attribute_value" name="list_attribute_value"
                                        class="kt-select w-full" multiple data-url="{% url 'AttributeValueListAPI' %}">
                                        {% if obj_attribute_values %}
                                        {% for v in obj_attribute_values %}
                                        <option value="{{ v.id }}" selected>{{ v.name }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-modal-footer gap-2.5 justify-end border-0">
                <div class="flex gap-4">
                    <button class="kt-btn kt-btn-secondary" data-kt-modal-dismiss="#modal_attribute_value"
                        type="button">
                        Cancel
                    </button>
                    <button class="kt-btn" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block foot %}
<script src="{% static 'attributes/detail.js' %}"></script>
<script src="{% static 'attributes/extends/attribute_value.js' %}"></script>
{% endblock %}