{% extends 'admin/base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block content %}
<div class="kt-container-fixed">
  <div class="row min-h-screen align-items-center justify-content-center bg-gray-700">
    <div class="col-md-8 text-center py-10">

      <p class="fs-4 fw-semibold text-primary mb-2">404</p>

      <h1 class="fs-1 fw-bold text-white mb-4">
        Page not found
      </h1>

      <p class="fs-5 text-gray-400 mb-10">
        Sorry, we couldn’t find the page you’re looking for.
      </p>

      <div class="d-flex flex-center gap-4">
        <a href="#" class="kt-btn kt-btn-secondary">
          Go back home
        </a>

        <a href="#" class="kt-btn kt-btn-primary">
          Contact support <span aria-hidden="true">&rarr;</span>
        </a>
      </div>

    </div>
  </div>
</div>

{% endblock %}
{% block foot %}

{% endblock %}